body{
    background-color: rgba(18, 46, 124, 0.808);
    height: fit-content;
}
.navheader{
    font-size: 20px;
    margin-top: 0px;
    margin-left: 0px;
    background-color: black;
    align-items: center; 
}
.menu{
    margin-left: 0px;
}
.galeria{
    color:aliceblue;
    text-decoration: rgb(47, 0, 255);
    padding: 5px;
    text-align: center;
    display: inline-block;
    background-color:black;
}
.login{
    color:aliceblue;
    text-decoration: rgb(47, 0, 255);
    padding: 5px;
    text-align: center;
    display: inline-block;
    background-color:black;
}
.about{
    color:aliceblue;
    text-decoration: rgb(47, 0, 255);
    padding: 5px;
    text-align: center;
    display: inline-block;
    background-color:black;  
}
.entrada{
    margin-left: 20px;
    position: absolute;
    top: 10%;
    background-color: white;
    padding-right: 2%;
}
.campo{
    margin-top: 2px;
}
.contenedor{
    background-color:rgba(18, 46, 124, 0.808);
    height: fit-content;
}
.filas{
    width: 90%;
    background-color: rgba(255, 255, 255, 0.233);
}
.filas:hover{
    transform:scale(1.05);
    
}

#imagen{
    width: 100%;
    opacity: 75%;
    margin-left: 0px;
}
#menu{
    position: absolute;
    font-size: 60px;
    color: black;
    text-decoration: underline;
    text-decoration-color:black;
    top: 20%;
    left: 40%;
}
#fecha{
    position: absolute;
    font-size: 40px;
    color: black;
    text-decoration: double;
    text-decoration-color:black;
    top: 30%;
    left: 46%; 
}
#tabla{
    left: 9%;
    position: absolute;
    font-size: 20px;
    color: black;
    text-decoration: double;
    text-decoration-color:black;
    top: 40%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.062);
    background-blend-mode: lighten;
    text-align: center;
    padding-bottom: 5px;
}
#secundaria{
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: black;
    position: absolute;
    background-color: rgba(18, 46, 124, 0.808);
}
#user{
    margin-left: 26px;
}
#log{
    margin-left: 40%;
}
#reg{
    margin-left: 30%;
}
#botones{
    display: inline-flex;
    flex-direction: row;
}
#title{
    left: 9%;
    position: absolute;
    top: 40%;
    text-align: center;
}
